
.cover {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.input {
  width: 50px;
}

.redColor {
  background-color: #ff0000;
}

.counterOneRed {
  background-color: #ff0000;
}

.counterOne {
  background-color: #6f6f6f;
}

