
.box {
  height: 240px;
  width: 220px;
  padding: 10px;
  background-color: black;
}

.border {
  border: 2px solid teal;
  border-radius: 5px;
}

.boxBtn {
  display: flex;
  justify-content: space-around;
  padding: 12px;
  background-color: black;
}

.boxNumber, .settBoxNumber {
  height: 60%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: teal;
  font-size: 40px;
  font-weight: 700;
}

.settBoxNumber {
  flex-direction: column;
}

